@import "bulma";


p {
    text-indent: 20px;
}

* {
	box-sizing: border-box;
}

.root-container {
	padding: 20px;
}

a {
	text-decoration: none;
	color:white;
}

textarea {
	resize: none;
}

#pic-banner{
	margin: 0px;
	padding: 0px;
	height: 300px;
	img{
		width: 100%;
		height: 100%;
	}
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	color:white;
	padding-left: 10px;
	padding-right: 10px;

	background: #f3e2c7; /* Old browsers */
	background: #f3e2c7; /* Old browsers */
	background: -moz-linear-gradient(top, #f3e2c7 0%, #c19e67 49%, #b68d4c 100%, #e9d4b3 100%, #b68d4c 101%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f3e2c7 0%,#c19e67 49%,#b68d4c 100%,#e9d4b3 100%,#b68d4c 101%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f3e2c7 0%,#c19e67 49%,#b68d4c 100%,#e9d4b3 100%,#b68d4c 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#b68d4c',GradientType=0 );
	span{
		padding: 5px;
	}
}


//  Reports
.report-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid black;
	background: white;
	padding: 20px;
	margin: 20px;
	min-height: 150px;
}
.report-empty{
	background: lightgrey;
	border-radius: 20px;
}

.fa-check-circle{
	color:green;
}
.fa-times-circle{
	color:red;
}

.comment{
	padding: 10px;
	overflow-y: scroll;
	overflow-x: hidden; 
	border: 1px solid lightgrey;
	border-radius: 10px;
	height: 100px;
}

.bottom-open{
	max-height: 100px;
	transition: max-height 0.2s ease-in;
}

.bottom-closed{
	max-height: 0px;
	transition: max-height 0.1s ease-out;
}

.check-box{
	display: flex;
	flex-direction: column;
	margin: 10px;
	align-items: center;
	justify-content: space-around;
	border-right: 1px solid lightgrey;
	width: 16.6666%;
	margin: 0px;
	font-size: 12pt;

		&:last-child{
			border: none;
	}

}

.check-container{
	display: flex;
	flex-direction: row;
	border: 1px solid lightgrey;
	border-radius: 10px;
	justify-content: space-around;


}

.report-date{
	border: 1px solid lightgrey;
	padding: 5px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: 18pt;

	span{
		padding: 0px 5px;
	}
}

.report-top{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
	height: 130px;
}

.report-bottom{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
	padding: 0px 10px;
}

.report-buttons{
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	button{
		height: 40px;
		border: none;
		border-radius: 10px;
		color: white;
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-size: 12pt;
		font-weight: bolder;
	}
}

.update-button{
	background: #01D1B2;
}

.delete-button{
	background: red;
}


.report-right{
	width: 60%;
}

.report-left{
	width: 20%;
}

.modal-content{
	background: white;
	border-radius: 10px;
	padding: 20px;
}

#modal-loading{
	display: flex;
	justify-content: center;
	background: transparent;
	img{
		padding: 20px;
		width: 100px;
		height: 100px;
		background: white;
		border-radius: 100%;
	}
}

.radios-container{
	display: flex;
	flex-direction: column;
	flex: 0 0 70px;
	align-items: flex-start;
	border-left: 1px solid lightgrey;
	padding-left: 15px;
	justify-content: center;

}

.true-false-single{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 15px 0px;
	width: 100%;
}

.prompt{
	padding-right: 15px;
}

.report-comment{
	width: 100%;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid lightgrey;
	// margin: 10px;
}

.new-report-container{
	padding: 0px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.unanswered{
	color: red;
}

.submit-button{
		margin: 15px 0px;
		height: 40px;
		border: none;
		border-radius: 10px;
		color: white;
		font-size: 12pt;
		font-weight: bolder;
		padding: 0px 20px;
}

.clickable{
	background: #23D160;
}
