@import "bulma";

button:focus {
	outline:0;
}
p {
    text-indent: 20px;
}

* {
	box-sizing: border-box;
}

.body{
	width: 100%;
}

.root-container {
	padding: 20px;
	background: #E6DECA;
	width: 100%;
	min-height: 100vh;
	margin: 0px;
}

a {
	text-decoration: none;
	color:white;
}

textarea {
	resize: none;
}

#pic-banner{
	display: block;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	min-width: 700px;
	height: auto;
	overflow-x: hidden;
	overflow-y: hidden;
	border: none;
	img{

		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		display: block;
		opacity: 0;
		-webkit-transition: opacity 2s ease-in;
    	transition: opacity 2s ease-in;
	}

	.visible{
		opacity: 1;

	}
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	color:white;
	padding-left: 10px;
	padding-right: 10px;

	background: rgba(150,207,223,1);/* Old Browsers */
	background: -moz-linear-gradient(top, rgba(150,207,223,1) 0%, rgba(121,191,210,1) 50%, rgba(78,168,193,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(150,207,223,1)), color-stop(50%, rgba(121,191,210,1)), color-stop(100%, rgba(78,168,193,1)));/* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, rgba(150,207,223,1) 0%, rgba(121,191,210,1) 50%, rgba(78,168,193,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(150,207,223,1) 0%, rgba(121,191,210,1) 50%, rgba(78,168,193,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(150,207,223,1) 0%, rgba(121,191,210,1) 50%, rgba(78,168,193,1) 100%); /* IE 10+ */
	background: linear-gradient(to bottom, rgba(150,207,223,1) 0%, rgba(121,191,210,1) 50%, rgba(78,168,193,1) 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96cfdf', endColorstr='#4ea8c1', GradientType=0 );/* IE6-9 */
	span{
		padding: 5px;
	}
}


//  Reports

.report-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid black;
	background: white;
	padding: 20px;
	margin: 20px;
	min-height: 150px;
	min-width: 680px;
	overflow: hidden;
	box-shadow: 0px 0px 4px 2px black;
}
.report-empty{
	background: #E6DECA;
	border-radius: 20px;
	min-width: 450px;
	border: none;
	color: grey;
	font-size: 20pt;
	box-shadow: 0px 0px 5px 1px black;
}

.fa-check-circle{
	color:green;
}
.fa-times-circle{
	color:red;
}

.comment{
	padding: 10px;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden; 
	border: 1px solid lightgrey;
	border-radius: 10px;
	height: 100px;
	min-width: 450px;
}

.bottom-open{
	max-height: 100px;
	transition: max-height 0.2s ease-in;
}

.bottom-closed{
	max-height: 0px;
	transition: max-height 0.1s ease-out;
}

.check-box{
	display: flex;
	flex-direction: column;
	margin: 10px;
	align-items: center;
	justify-content: space-around;
	border-right: 1px solid lightgrey;
	width: 16.6666%;
	min-width: 75px;
	margin: 0px;
	font-size: 12pt;

		&:last-child{
			border: none;
	}

}

.check-container{
	min-width: 450px;
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	border-radius: 10px;
	justify-content: space-around;
	box-shadow: 0px 0px 5px 1px black;


}

.report-date{
	border: 1px solid lightgrey;
	padding: 5px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: 18pt;

	span{
		padding: 0px 5px;
	}
}

.report-top{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
	height: 130px;
}

.report-bottom{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
	padding: 0px 10px;
}

.report-buttons{
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	button{
		height: 40px;
		border: none;
		border-radius: 10px;
		color: white;
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-size: 12pt;
		font-weight: bolder;
	}
}

.update-button{
	background: #01D1B2;
}

.delete-button{
	background: red;
}


.report-right{
	width: 60%;
}

.report-left{
	width: 20%;
}

.modal-content{
	background: white;
	border-radius: 10px;
	padding: 20px;
}

#modal-loading{
	display: flex;
	justify-content: center;
	background: transparent;
	img{
		padding: 20px;
		width: 100px;
		height: 100px;
		background: white;
		border-radius: 100%;
	}
}

.radios-container{
	display: flex;
	flex-direction: column;
	flex: 0 0 70px;
	align-items: flex-start;
	border-left: 1px solid lightgrey;
	padding-left: 15px;
	justify-content: center;

}

.true-false-single{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 15px 0px;
	width: 100%;
}

.prompt{
	padding-right: 15px;
}

.report-comment{
	width: 100%;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid lightgrey;
	margin-top: 20px;
	// margin: 10px;
}

.new-report-container{
	padding: 0px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-overflow-scrolling: touch;
}

.unanswered{
	color: red;
}

.submit-button{
		margin: 15px 0px;
		height: 40px;
		border: none;
		border-radius: 10px;
		color: white;
		font-size: 12pt;
		font-weight: bolder;
		padding: 0px 20px;
}

.clickable{
	background: #23D160;
}

.login-container{
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;

	input{
		margin-bottom: 10px;
		width: 90%;
	}

}

.modal-login{
	width: 300px;
}

.modal-title{
	width: 100%;
	font-size: 16pt;
	padding-bottom: 10px;
	border-bottom: 1px solid lightgrey;
	margin-bottom: 20px;
}

.page-title{
	margin: 20px;
	width: 100%;
	font-size: 20pt;
	padding-bottom: 10px;
	// border-bottom: 1px solid lightgrey;
}

.intro{
	margin-bottom: 20px;
}

.home-container{
	box-shadow: 0px 0px 10px 2px black;
	background: white;
	margin: 20px 50px;
	padding: 20px;
}