<!-- <h1>HOME</h1> -->
<div class="home-container">
	<p>
				Welcome to the Dolphin Watch III Owners’ website.  Hopefully, as an owner you will find the website helpful in reviewing issues that need to be addressed on an ongoing basis with respect to our beautiful beach home.
	</p>

	<p>
	            Once you leave the “Homepage” the next place you should go is the “Report Section.”  When you click on that button you will be taken to a questionaire box that asks you to comment upon any issues that you have seen/observed in the house for the week you use it.   After you answer basic questions about the home, there is a dialogue box where you can put any comments that you wish other owners to read.  The idea here is for each owner to fill in this information for each week they are there.  Later, when another user arrives they can access comments from the prior week and look for any issues that were present the week prior to arrival.  This will help the next owner determine whether prior issues have been resolved or remain to be addressed.  This will also help all owners detect potential chronic problems that might need to be addressed more pro-actively.
	</p>

	<p>
	 
	            It is our hope that this very basic website will assist all owners in monitoring the efforts of our cleaning crew and also Jimmy Smith’s checkers.  If the checkers are not doing their job or if there are problems with cleaning issues, all owners need to know this so that we can collectively monitor it.  If there is a chronic problem that is detected week after week, this will allow Executive Committee of the Homeowners Association to contact Jimmy Smith directly to address any potential chronic issue(s).
	</p>
	<p>
	 
	            This website will only work if we all pitch in and try to fill in the information for the week we are there. Either as you arrive or before you leave the home, take a few moments to fill in the information.  Take a few moments as well to read over the prior user’s comments.  By looking over prior comments and by typing in your own, this will help all owners monitor potential issues with the home.  Hopefully, if we all use the website as intended, this will reduce the number of issues and allow us to pro-actively and prophylactically address any issues that need attention.
	</p>
	<p>
	 
	            Many thanks to you all on using this website.  Enjoy the home while you are there and thanks again for using the website in assisting us all to keep our beautiful home in the best possible condition.
	</p>
	<p>
	Executive Committee
	<br>
	Dolphin Watch III Homeowners’ Association
	</p>
</div>