<h1 class="modal-title"> Reports </h1>

<div ng-repeat="report in reportList.reportsArray" class="report-container"  >
	<div class="report-top" ng-show="report.exist" ng-click="reportList.toggleComment(report)">
		<div class="report-date report-left">
			<div class="date-month"><span>{{report.month}}</span><span>{{report.day}}</span></div>
			<div class="date-week">{{report.year}}</div>
		</div>
		<div class="check-container report-right">
			<div class="check-box">Clean
				<span ng-show="report.clean"><i class="fa-2x fa fa-check-circle" aria-hidden="true"></i></span>
				<span ng-hide="report.clean"><i class="fa-2x fa fa-times-circle" aria-hidden="true"></i></span>
			</div>
			<div class="check-box">Repair
				<span ng-show="report.repair"><i class="fa-2x fa fa-check-circle" aria-hidden="true"></i></span>
				<span ng-hide="report.repair"><i class="fa-2x fa fa-times-circle" aria-hidden="true"></i></span>
			</div>
			<div class="check-box">Beds
				<span ng-show="report.beds"><i class="fa-2x fa fa-check-circle" aria-hidden="true"></i></span>
				<span ng-hide="report.beds"><i class="fa-2x fa fa-times-circle" aria-hidden="true"></i></span>
			</div>
			<div class="check-box">Towels
				<span ng-show="report.towels"><i class="fa-2x fa fa-check-circle" aria-hidden="true"></i></span>
				<span ng-hide="report.towels"><i class="fa-2x fa fa-times-circle" aria-hidden="true"></i></span>
			</div>
			<div class="check-box">Windows
				<span ng-show="report.windows"><i class="fa-2x fa fa-check-circle" aria-hidden="true"></i></span>
				<span ng-hide="report.windows"><i class="fa-2x fa fa-times-circle" aria-hidden="true"></i></span>
			</div>
			<div class="check-box">Supplies
				<span ng-show="report.supplies"><i class="fa-2x fa fa-check-circle" aria-hidden="true"></i></span>
				<span ng-hide="report.supplies"><i class="fa-2x fa fa-times-circle" aria-hidden="true"></i></span>
			</div>
		</div>
	</div>
	<div class="report-bottom" ng-class="{'bottom-open': report.clicked, 'bottom-closed': !report.clicked}" ng-show="report.exist">
		<div class="report-buttons report-left">
			<button class="update-button" ng-click="reportList.gotoSingle(report)">
				Update
				<i class="fa-2x fa fa-wrench"></i>
			</button>
			<button class="delete-button" ng-click="reportList.deleteReport(report)">
				Delete
				<i class="fa-2x fa fa-times"></i>
			</button>
		</div>
		<div class="comment report-right">
			<span>{{report.content}}</span>
		</div>
	</div>

	<div class="report-top" ng-click="reportList.toggleComment(report)" ng-hide="report.exist">
		<div class="report-date report-left">
			<div class="date-month"><span>{{report.month}}</span><span>{{report.day}}</span></div>
			<div class="date-week">{{report.year}}</div>
		</div>
		<button ng-click="reportList.gotoSingle(report)" ng-hide="report.exist" class="report-right report-empty">Add a Report!</button>
	</div>
</div>

<div class="modal" ng-class="{'is-active': reportList.loading}" >
  <div class="modal-background"></div>
  <div class="modal-content" id="modal-loading">
  	<img src="images/load.gif">
  </div>
</div>


<div class="single-container" ui-view></div>