<!-- <div class="page-title"> Reports </div> -->

<div ng-repeat="report in reportList.reportsArray" class="report-container"  >
	<div class="report-top" ng-show="report.exist">
		<div class="report-date report-left">

			<div class="date-month"><span>{{report.month}}</span><span>{{report.day}}</span></div>
			<div class="date-week">{{report.year}}</div>
		</div>
		<i ng-hide="report.clicked" class="fa fa-arrow-down" aria-hidden="true" ng-click="reportList.toggleComment(report)"></i>
		<i ng-show="report.clicked" class="fa fa-arrow-up" aria-hidden="true" ng-click="reportList.toggleComment(report)"></i>
		<div class="check-container report-right">
			<div class="check-box">Clean
				<span ng-show="report.clean"><i class="fa-2x fa fa-check-circle" aria-hidden="true"></i></span>
				<span ng-hide="report.clean"><i class="fa-2x fa fa-times-circle" aria-hidden="true"></i></span>
			</div>
			<div class="check-box">Repair
				<span ng-show="report.repair"><i class="fa-2x fa fa-check-circle" aria-hidden="true"></i></span>
				<span ng-hide="report.repair"><i class="fa-2x fa fa-times-circle" aria-hidden="true"></i></span>
			</div>
			<div class="check-box">Beds
				<span ng-show="report.beds"><i class="fa-2x fa fa-check-circle" aria-hidden="true"></i></span>
				<span ng-hide="report.beds"><i class="fa-2x fa fa-times-circle" aria-hidden="true"></i></span>
			</div>
			<div class="check-box">Towels
				<span ng-show="report.towels"><i class="fa-2x fa fa-check-circle" aria-hidden="true"></i></span>
				<span ng-hide="report.towels"><i class="fa-2x fa fa-times-circle" aria-hidden="true"></i></span>
			</div>
			<div class="check-box">Windows
				<span ng-show="report.windows"><i class="fa-2x fa fa-check-circle" aria-hidden="true"></i></span>
				<span ng-hide="report.windows"><i class="fa-2x fa fa-times-circle" aria-hidden="true"></i></span>
			</div>
			<div class="check-box">Supplies
				<span ng-show="report.supplies"><i class="fa-2x fa fa-check-circle" aria-hidden="true"></i></span>
				<span ng-hide="report.supplies"><i class="fa-2x fa fa-times-circle" aria-hidden="true"></i></span>
			</div>
		</div>
	</div>
	<div class="report-bottom" ng-class="{'bottom-open': report.clicked, 'bottom-closed': !report.clicked}" ng-show="report.exist">
		<div class="report-buttons report-left">
			<button class="update-button" ng-click="reportList.gotoSingle(report)">
				<span>Update</span>
				<i class="fa-2x fa fa-wrench"></i>
			</button>
			<button class="delete-button" ng-click="reportList.deleteCheck=true; reportList.report = report">
				<span>Delete</span>
				<i class="fa-2x fa fa-times"></i>
			</button>
		</div>
		<div class= "report-right">
			<div class="comment">{{report.content}}</div>
			<div class="update-by">
				<div class="update-text">Last Update By:</div>
				<div class="username-text">{{report.username}}</div>
			</div>
		</div>
	</div>

	<div class="report-top" ng-click="reportList.toggleComment(report)" ng-hide="report.exist">
		<div class="report-date report-left">
			<div class="date-month"><span>{{report.month}}</span><span>{{report.day}}</span></div>
			<div class="date-week">{{report.year}}</div>
		</div>
		<button ng-click="reportList.gotoSingle(report)" ng-hide="report.exist" class="report-right report-empty">
			<div class="add-report">
				Add a Report!
			</div>
		</button>
	</div>
</div>

<div class="modal" ng-class="{'is-active': reportList.loading}" >
  <div class="modal-background"></div>
  <div class="modal-content" id="modal-loading">
  	<img src="images/load.gif">
  </div>
</div>

<div class="modal" ng-class="{'is-active': reportList.deleteCheck}" >
  <div class="modal-background"></div>
  <div class="modal-content modal-login">
		<div class="modal-title new-title">
			Delete
		</div>
		<div class="delete-check">Are you sure you want to delete this report?</div>
		<div class="yes-no-buttons">
			<button ng-click="reportList.deleteReport(report)" id="yes-button">Yes, I'm sure</button>
			<button ng-click="reportList.deleteCheck=false" id="no-button">No thanks</button>
		</div>
  </div>
</div>



<div class="single-container" ui-view></div>