<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-content">
  	<form name="myForm" ng-submit="reportNew.newReport(reportList.modal)">
		<div class="true-false-single">
		    <input type="radio" ng-model="reportList.modal.clean" name="clean" ng-value="true">
		    Clean
		    <input type="radio" ng-model="reportList.modal.clean" name="clean" ng-value="false">
		    Not Clean
		</div>
		<div class="true-false-single">
		    <input type="radio" ng-model="reportList.modal.repair" name="repair" ng-value="true">
		    Repair
		    <input type="radio" ng-model="reportList.modal.repair" name="repair" ng-value="false">
		    No Repair
		</div>
		<div class="true-false-single">
		    <input type="radio" ng-model="reportList.modal.beds" name="beds" ng-value="true">
		    Beds
		    <input type="radio" ng-model="reportList.modal.beds" name="beds" ng-value="false">
		    No Beds
		</div>
		<div class="true-false-single">
		    <input type="radio" ng-model="reportList.modal.towels" name="towels" ng-value="true">
		    Towels
		    <input type="radio" ng-model="reportList.modal.towels" name="towels" ng-value="false">
		    No Towels
		</div>
		<div class="true-false-single">
		    <input type="radio" ng-model="reportList.modal.windows" name="windows" ng-value="true">
		    Windows
		    <input type="radio" ng-model="reportList.modal.windows" name="windows" ng-value="false">
		    No Windows
		</div>
		<div class="true-false-single">
		    <input type="radio" ng-model="reportList.modal.supplies" name="supplies" ng-value="true">
		    Supplies
		    <input type="radio" ng-model="reportList.modal.supplies" name="supplies" ng-value="false">
		    No Supplies
		</div>

		<textarea ng-model="reportList.modal.content" placeholder="Additional reports"></textarea>

	    <button>Submit</button>
 	</form>
  </div>
  <button class="modal-close" ng-click="reportNew.gotoList()"></button>
</div>


