<div id="pic-banner">
	<img id="banner-img" ng-class="{'visible': root.imageLoad}" src="images/banner-d3.png"></img>
</div>

<nav>
	<span id="left-nav">
		<a href="#/home"><button ng-class="{'yellow': root.state==='root.home'}" class="nav-button">Welcome</button></a>
		<a href="#/reports"><button ng-class="{'yellow': root.state==='root.reports'}" class="nav-button">Reports</button></a>
		<a href="#/owners"><button ng-class="{'yellow': root.state==='root.owners'}" class="nav-button">Owners</button></a>
		<!-- <a href="#/schedule"><span>Schedule</span></a> -->
		<a href="#/owners/new"><button ng-class="{'yellow': root.state==='root.ownerNew'}" class="nav-button" ng-show="root.admin">Add Owner</button></a>
	</span>
	<span id="right-nav">
		<button class="nav-button" ng-hide="root.loggedIn" ng-click="root.openLogin()">Login</button>
		<a href="#/owners/{{root.userId}}"><button class="nav-button" ng-class="{'yellow': root.state==='root.ownerInfo'}" ng-show="root.loggedIn">{{root.username}}</button></a>
		<button class="nav-button" ng-show="root.loggedIn" ng-click="root.logout()">Logout</button>
	</span>
</nav>

<div class="root-container" ui-view></div>

<div class="modal" ng-class= "{'is-active': root.logOpen}">
  <div class="modal-background"></div>
  <div class="modal-content modal-login">
  	<div class="login-container">
  		<div class="modal-title">Login</div>
	  	<input type="text" placeholder="username" ng-model="owner.username">
		<input type="password" placeholder="password" ng-model="owner.password">
		<button class="submit-button update-button" ng-click="root.login(owner)">Submit</button>
		<div class="unanswered" ng-show="root.wrong">{{root.wrongText}}</div>
	</div>
  </div>
  <button class="modal-close" ng-click="root.closeLogin()"></button>
</div>